/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* general */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

h1 {
  font-size: 2.3em;
}

/* Navbar */
.navbar {
  display: flex;
  background-color: #F5F5F5;
  padding: 0 16px;
}

.logo {
  margin: 0.15em 0;
  text-decoration: none;
}

.purple {
  color: #402680;
}

.pink {
  color: #7F4DFF;
}

/* Main Pages */

section {
  margin: 16px;
}

.page-title {
  text-align: center;
  color: #402680;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.index-link {
  display: block;
  width: 33.33%;
  text-decoration: none;
}

.col-12 {
  width: 100%;
  height: 25vh;
  text-align: center;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 8px;
  margin: 8px;
  background-color: #F5F5F5;
  border-radius: 5px;
  color: #000000;
}

.button:hover {
  background-color: #402680;
  color: #ffffff;
}

.button:active {
  background-color: #402680;
  color: #ffffff;
}

.box-title {
  text-transform: uppercase;
  color: white;
  width: 50%;
  padding: 4px;
}

.shelter-card {
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-7 {
  background-image: url("jay-wennington-CdK2eYhWfQ0-unsplash.jpg");
}

.index-1 {
  background-image: url("jay-wennington-xOs6gB-f5Ck-unsplash.jpg");
}

.index-2 {
  background-image: url("jay-wennington-G23T_r_k_Ro-unsplash.jpg");
}

.index-6 {
  background-image: url("jay-wennington-AeikTbqNyqw-unsplash.jpg");
}

.index-4 {
  background-image: url("jay-wennington-vXjNwYi2B8M-unsplash.jpg");
}

.index-5 {
  background-image: url("jay-wennington-FOYBltJE7ZU-unsplash.jpg");
}

.index-3 {
  background-image: url("jay-wennington-Yzdk2tWgOP4-unsplash.jpg");
}

.index-0 {
  background-image: url("jay-wennington-s-fD5Tpew2k-unsplash.jpg");
}

.index-8 {
  background-image: url("jay-wennington-_CrbZkVXoEY-unsplash.jpg");
}

.shelter-card:hover .box-title {
  border: 2px solid white;
}

/* Show Pages */

.bold {
  font-weight: bold;
}

.warning:hover {
  background-color: #E82117;
}

.show {
  width: 66.67%;
  padding: 16px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Forms */

.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 33.33%;
  padding: 20px 32px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-size: 1.1em;
}

.form label, input, select {
  display: inline-block;
  width: 100%;
  padding: 4px;
}

.form label {
  margin-bottom: 4px;
  padding: 0;
}

.submit {
  background-color: #402680;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px;
  font-size: 0.9em;
}

.error {
  color: #E82117;
  margin: 0;
  margin-bottom: 16px;
  font-size: 0.8em;
}

select {
  margin-bottom: 16px;
}

/* Pet Forms */

.radio-options {
  display: flex;
  justify-content: space-around;
}

.option {
  width: 30%;
  display: flex;
  align-items: center;
}

.option input {
  height: 100%;
  width: 20px;
}

.option label {
  height: 100%;
  margin: 0;
}

.option .field_with_errors {
  height: 100%;
}

.option .field_with_errors input {
  margin: 0;
  margin-right: 4px;
}
