<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="navbar">
      <h1 class="logo"><span class="purple">Adopt</span><span class="pink">Don't</span><span class="purple">Shop</span></h1>
      <div class="links">
        <!-- pending -->
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
